encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1yaa0vvhceuc8p4ugenhmqgpzrffsew7ejnthyjzsj5nvgexqjcus7a60la"

[git]
    autoCommit = true
    autoPush = true

[data]
    name = "David"
    email = "jdavidcrow@gmail.com"
    profile = {{ promptStringOnce . "profile" "Profile (personal/work)" | quote }}
