{{ $vps := index (lastpass "Dotfiles/VPS Credentials") 0 -}}
{{ $airship := index (lastpass "Dotfiles/Airship Keys") 0 -}}
{{ $api := index (lastpass "Dotfiles/API Keys") 0 -}}
{{ $twitter := index (lastpass "Dotfiles/Twitter API") 0 -}}
{{ $google := index (lastpass "Dotfiles/Google OAuth") 0 -}}
{{ $aws := index (lastpass "Dotfiles/AWS Credentials") 0 -}}

# Path to your Oh My Zsh installation.
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="robbyrussell"

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="true"

plugins=(git history-search-multi-word)

source $ZSH/oh-my-zsh.sh

# User configuration
export LANG=en_US.UTF-8

. "$HOME/.local/bin/env"

export TZ="America/Los_Angeles"

export PATH="$HOME/.gem/ruby/2.7.0/bin:$PATH"
export PATH="$HOME/.rbenv/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"
eval "$(rbenv init -)"
export RUBYOPT="-rlogger"

# VPS Credentials
export JDAVIDCLAW_IP={{ $vps.note.IP | quote }}
export JDAVIDCLAW_USERNAME={{ $vps.note.Username | quote }}
export JDAVIDCLAW_PASSWORD={{ $vps.note.Password | quote }}

# Airship Keys
export AIRSHIP_DEV_APP_KEY={{ $airship.note.DevAppKey | quote }}
export AIRSHIP_DEV_APP_MASTER_SECRET={{ $airship.note.DevAppMasterSecret | quote }}
export AIRSHIP_GOAT_APP_KEY={{ $airship.note.GoatAppKey | quote }}
export AIRSHIP_GOAT_APP_MASTER_SECRET={{ $airship.note.GoatAppMasterSecret | quote }}
export AIRSHIP_A11Y_APP_KEY={{ $airship.note.A11yAppKey | quote }}
export AIRSHIP_A11Y_APP_MASTER_SECRET={{ $airship.note.A11yAppMasterSecret | quote }}

# API Keys
export OPENAI_API_KEY={{ $api.note.OpenAIKey | quote }}
export OPENAI_LOBSTER_LINE_KEY={{ $api.note.OpenAILobsterKey | quote }}
export DEEPSEEK_API_KEY={{ $api.note.DeepseekKey | quote }}
export BRAVE_API_KEY={{ $api.note.BraveKey | quote }}
export TODOIST_API_TOKEN={{ $api.note.TodoistToken | quote }}
export GITHUB_PAT={{ $api.note.GitHubPAT | quote }}
export GEMINI_API_KEY={{ $api.note.GeminiKey | quote }}
export OPENCLAW_GATEWAY_TOKEN={{ $api.note.OpenclawToken | quote }}

# Twitter/X API
export TWITTER_API_KEY={{ $twitter.note.APIKey | quote }}
export TWITTER_API_SECRET={{ $twitter.note.APISecret | quote }}
export TWITTER_ACCESS_TOKEN={{ $twitter.note.AccessToken | quote }}
export TWITTER_ACCESS_TOKEN_SECRET={{ $twitter.note.AccessTokenSecret | quote }}

# Application Config
export PUPPETEER_EXEC_PATH="/opt/homebrew/bin/chromium"
export EDITOR="code --wait"
export VISUAL="code --wait"
export PATH="/opt/homebrew/opt/postgresql@15/bin:$PATH"
export PATH="/opt/homebrew/opt/node@22/bin:$PATH"
export JAVA_HOME=/Library/Java/JavaVirtualMachines/temurin-17.jdk/Contents/Home

# Google OAuth
export GOOGLE_AUTH_CLIENT_ID={{ $google.note.ClientID | quote }}
export GOOGLE_CLIENT_ID={{ $google.note.ClientID | quote }}
export GOOGLE_AUTH_CLIENT_SECRET={{ $google.note.ClientSecret | quote }}
export GOOGLE_CLIENT_SECRET={{ $google.note.ClientSecret | quote }}

# AWS Credentials
export AWS_CLIENT_ID={{ $aws.note.AWSClientID | quote }}
export AWS_ACCESS_KEY_ID={{ $aws.note.AccessKeyID | quote }}
export AWS_SECRET_ACCESS_KEY={{ $aws.note.SecretAccessKey | quote }}
export VITE_AWS_REGION={{ $aws.note.Region | quote }}
export VITE_AWS_USER_POOL_ID={{ $aws.note.UserPoolID | quote }}
export VITE_AWS_USER_POOL_WEB_CLIENT_ID={{ $aws.note.UserPoolWebClientID | quote }}
